.WeatherForecast {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
    color: white;
}
.temp-min {
    opacity: 0.6;
    margin-left: 5px;
}

.WeatherForecast img {
    width: 70px;
    padding-top: 0px;
    padding-bottom: 0px;
}