.weather {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px auto;
    width: 400px;
    background: linear-gradient(to right, #283048, #859398);
padding: 16px;
border-radius: 30px;
}

.weather form {
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 25px;
}

.weather h2 {
    text-align: center;
    color: white;
    font-weight: thin;
    font-size: 25px;
    padding-top: 20px;
    line-height: 20px;;
}
.weather h3 {
    text-align: center;
    color: white;
    font-size: 20px;
}
.weather img {
    width: 150px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    color: white;
    padding-top: 30px;
    padding-bottom: 40px;
}
.weather h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}
.weather ul {
    margin: 0;
    padding: 0 0 20px;
}
.weather li {
    list-style: none;
    color: white;
    text-align: center;
}
.weather h4 {
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 16px;
}
.WeatherInfo a {
    text-decoration: none;
    color: white;
}
.WeatherInfo a:hover {
    color:#859398;
}